@use 'vars' as *;

.food-wrapper {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.food-wrapper h2 {
    color: #1A71A9;
    text-transform: uppercase;
    margin-bottom: 0;
}

.post-info {
    margin-top: 0;
    font-size: .7rem;
}

.food-wrapper a{

    color: white;
    background-color: $navbg;
    margin-right: .5rem;
    padding: .5rem;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}