@use 'vars' as*;
@use 'layout' as *;

.food-wrapper {
    width: 95%;
    margin: 1rem auto;
    padding: 1rem 0 2.5rem 0;
    background-color: white;
}

.food-wrapper h2 {
    color: #1A71A9;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 0;
    margin: auto 1rem;
}

.food-wrapper img {
    width: 100%;
    // margin: auto .5rem;
    padding: 0 1rem;
}

.food-wrapper p{
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
}

.post-info {
    margin-top: 0;
    // font-size: 0.7rem;
}

.food-wrapper a {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    color: white;
    background-color: #005991;
    margin-right: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    
}

.food-wrapper {
    @media(min-width: 50em){
        width: 100%;
        padding: 1rem 0;
    }
}
