@use 'vars' as *;
@use 'mixin' as *;

@include mediaQuery(31.25em) {
    .top-nav {
        padding: 1rem;
        .nav-button {
            display: none;
        }
    }
    
    .bottom-nav {
        display: block;
        height: unset;

        #menu-items {
            background-color: #014e85;
            ul {
                background-color: $navbg;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 1rem;
                border-bottom: 0;
                flex: 1 1;
                li {
                    border-top: none;
                    flex: 1 1;
                }
            }
        }

        .search-bar {
            position: absolute;
            height: 35px;
            top: 1.125rem;
            right: 0;
            max-width: 23%;;
            margin-right: 1rem;
            border-radius: 5px;
            border: unset;
            box-shadow: inset 0px 0px 15px 0px #939393;
        }
    }

    #socials {
        display: none;
        a i {
            transition: none;
        }
    }
}

@include mediaQuery(43.75em) {
    .bottom-nav {
        .search-bar {
            right: 10rem;
        }
    }

    #socials {
        display: inline-flex;
        gap: 0;
        a {
            margin: 0 0.5rem;
            i {
                font-size: 1.5rem;
            }
        }
    }
}

@include mediaQuery(48.4375em) {
    .top-nav {
        max-width: 1040px;
        margin: 0 auto;
    }
    
    .bottom-nav {
        display: flex;
        padding: 0 1rem;
        background-color: #014e85;
        #menu-items {
            background-color: unset;
            display: flex;
            justify-content: center;
            max-width: 1040px;
            height: fit-content;
            ul {
                margin: 0;
                height: fit-content;
            }
        }
        .search-bar {
            position: static;
            top: unset;
            right: unset;
            order: 3;
            height: 38px;;
            margin-right: 0;
            border-radius: 0;
        }
    }
}